/* Form generale */
#settings-form .form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

#settings-form label {
    width: 150px;
    font-weight: bold;
}

/* Input di testo e password */
/* #settings-form input[type="text"],
#settings-form input[type="password"],
#settings-form select {
    flex: 1;
    padding: 6px 10px;
    border: 1px solid var(--gray-300);
    border-radius: 4px;
    background-color: var(--white);
    font-size: 1rem;
    color: var(--gray-800);
} */

/* Pulsanti modifica accanto ai campi */
.icon-button.edit {
    font-size: 1rem;
    color: var(--primary-color);
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.icon-button.edit:hover {
    transform: scale(1.1);
}

#settings-form, .filter-form {
    display: block;
}

.form-group, input
{
    max-width: 70%;
    margin-left: var(--spacing-2);
}

#settings-closed {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: var(--primary-color);
    color: white;
    margin-left: var(--spacing-2);
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--primary-dark) 100%);
}

#settings-closed:hover {
    background: linear-gradient(90deg, var(--primary-dark) 0%, var(--primary-color) 100%);
}

#settings-closed option {
    background-color: var(--white);
    color: var(--gray-800);
}

/* Bottoni principali in basso */
.buttons-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.button {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
}

/* Footer */
/* .app-footer {
    margin-top: 40px;
    text-align: center;
    font-size: 0.9rem;
    color: var(--gray-600);
} */
